body {
    color: white;
    margin: 0px 0px;
    padding: 0px 0px;
    /* background: url('/gym.jpg'); */
}

.left {
    position: absolute;
    top:20px;
    left:20px;
    /* border: 2px solid red;  */
    display: inline-block;
    
}
.left img{
    width: 55px;
    padding: 0px 12px;;
}
.left div{
    text-align: center;
}
.right {
    position: absolute;
    top: 20px;
    right:20px;
    display: inline-block;
    /* border: 2px solid red; */
    
}
.btn{
    padding: 5px 7px;
    margin: 12px 8px;
    font-size: 17px;
    background-color: black;
    color: white;
    border:2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.btn:hover{
    background-color: rgb(73, 73, 73);
}
.mid {
    display: block;
    width: 54% ;
    margin: 20px auto;
    /* border: 2px solid red;  */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 14px 11px;
    margin: 20px 20px;
}
.navbar li a:hover,.navbar li a:active{
    text-decoration: underline;
    color: gray;
}
.container{
    border: 2px solid white;
    margin: 75px 761px;
    padding: 6px 18px;
    width: 33%;
    border-radius: 10px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 147px;
    padding: 0px 40px;
    border: 2px solid black;
    margin: 4px auto;
    font-size: 16px;
    border-radius: 7px;
}
.container h1{
    text-align: center;
}

.container button{
    display: block;
    width:20%;
    margin:auto;
} 